body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
}

h1, h2 {
  margin-bottom: 10px;
}

p {
  margin: 5px 0 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* create your account part */
.btn.signup {
  background-color: black;
  color: white;
}

/* login part */
.btn.login, .btn.search, .btn {
  background-color: black;
  color: white;
}


/* confirm part (sa may booking cofirmation */
.btn.confirm {
  background-color: green;
  color: white;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.airplane-image img {
  max-width: 300px;
}

.authentication-section {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.authentication-section .auth-forms {
  max-width: 400px;
  margin: 0 auto;
}



/* part ng flight search */
.flight-search {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.class-selection, .booking-confirmation {
  background-color: white;
  padding: 20px;
  margin: 20px auto; 
  max-width: 600px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center; 
}

